# Environment variables
.env

venv/

env/

# Database files
*.db
*.sqlite
*.sqlite3
instance/*.db
instance/*.sqlite
instance/*.sqlite3

# Uploaded files
static/uploads/

challengeforum/
__pycache__/
migrations/
static/uploads/
create_user.py
keygen.py
instance/
your_database.db
instance/your_database.db
logs/
cert.pem
key.pem
QUADRAAM_TENET_SETUP.md