h1{
    color: rgb(0, 0, 0);
    text-align: center;
    }   

    #button {  
    margin-left: 121px;
    margin-top: 1px;
    width: 84px;
    height: 45px;   
    border: none;
    color: black;   
    font-size:14px;
    font-weight:700;
    }  

p {
    text-align: center;
}


.chatbutton {
    align-items: center;
}