h1 {
  margin-top: 0%;
  text-align: center;
  color: white;
}
body {
  background-color: #afaeae;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.logo {
  width: 150px;
  height: 75px;
}

.top-color {
  position: absolute;
  width: 100%;
  background-color: #22194d;
  left: 0px;
  top: 0px;
  padding-top: 10px;
  padding-left: 5px;
  height: 150px;
  padding-bottom: 15px;
}

textarea {
  text-decoration: none;
  resize: none;
  width: 250px;
}

.forum {
  font-size: 12.5px;
}

.rij-1 {
  margin-top: 215px;
  margin-left: 200px;
}

.rij-2 {
  margin-left: 480px;
  margin-top: -143px;
}

.rij-3 {
  margin-left: 765px;
  margin-top: -198px;
}

.rij-4 {
  margin-left: 1040px;
  margin-top: -155px;
}

hr {
  margin-top: 100px;
  margin-left: -10px;
  margin-right: -10px;
}

.submit {
  width: 1545px;
  margin-left: -10px;
  font-size: 200px;
  height: 275px;
}
