h1 {
    margin-top: 0%;
    text-align: center;
    color: white;
    
}
body {
    overscroll-behavior-y: none;
    background-color: #afaeae;
}

.logo {
    width: 150px;
    height: 75px;
}

.posistion-fixed {
    position: fixed;
}

.top-color {
    height: 25%;
    width: 100%;
    background-color:  #22194d;
    padding-bottom: 10px;
    padding-top: 10px;
}

.categorie {
    border-color: #d42b87;
}

.textarea {
    text-decoration: none;
    border-color: #d42b87
}

.button {
    border-color: #d42b87;
}

.like-button {
}