.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
}

body {
  background: fixed linear-gradient(#afaeae, #22194d);
  font-family: var(--font-family-primary);
}

.delete-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 20px;
}

.username {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}
