.contributorContainer {
  position: absolute;
  top: 375px;
  left: 650px;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.new-contributor {
  position: relative;
}

.contributorText {
  top: 300px;
}

.addContributor-button {
  position: relative;
  z-index: 1000;
  padding: 8px 67.5px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 15px;
}

.remove-contributor-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 250px;
  top: -40px;
  font-size: 1.5em;
  box-shadow: 0 1px 4px rgba(34, 25, 77, 0.08);
  transition: background 0.2s;
  height: 36px;
  width: 36px;
  border-radius: 100px;
  align-items: center;
  margin-bottom: 5px;
  background-color: white;
  cursor: pointer;
}