{% extends 'base.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/account.css') }}"
/>
{% endblock %} {% block body %}
<div class="account-container">
  <h1>Account Settings</h1>
  <div class="form-group">
    <label for="username">Username:</label>
    <p>{{ current_user.username}}</p>
  </div>
  <form
    method="POST"
    action="{{ url_for('api_delete_user', id=current_user.id) }}"
    style="display: inline"
  >
    {{ form.hidden_tag() }}
    <button
      type="submit"
      class="action-button delete-button"
      onclick="return confirm('Are you sure you want to delete your account?')"
    >
      Delete Account
    </button>
  </form>
  {% endblock %}
</div>
