{% extends 'base.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}" />
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/account.css') }}"
/>
{% endblock %} {% block body %}
<div class="account-container">
  <h1>Account Settings</h1>
  <div class="form-group">
    <label for="username" class="username">Username:</label>
    <p class="username">{{ current_user.username}}</p>
  </div>
    <form
    method="POST"
    action="{{ url_for('api_delete_user_anonimize', id=current_user.id) }}"
    style="display: inline"
  >
    {{ form.hidden_tag() }}
    <button
      type="submit"
      class="action-button delete-button"
      onclick="return confirm('Weet je zeker dat je je account wil verwijderen en data wil Anonimiseren? Alleen challenges en likes worden behouden en geanonimiseerd.');"
    >
      Verwijder account en Anonimiseer alle data
    </button>
  </form>
  <br/><br/>
  <form
    method="POST"
    action="{{ url_for('api_delete_user', id=current_user.id) }}"
    style="display: inline"
  >
    {{ form.hidden_tag() }}
    <button
      type="submit"
      class="action-button delete-button"
      onclick="return confirm('Weet je zeker dat je je account en alle data wilt verwijderen? Dit is niet terug te draaien!');"
    >
      Verwijder je account en alle data
    </button>
  </form>
  {% endblock %}
</div>
