{% extends 'base.html' %} {% block head %} {{super()}}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index.css') }}"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<script src="{{url_for('static', filename='js/home.js') }}"></script>
<meta name="google-site-verification" content="IIlrpaWmmvclRrKhC4o-ppmjYU1qJm3A3LPaQMgVnZU" />
{% endblock %} {% block body %}
<div class="top-color">
  <h1>Maakplaats</h1>

  <div class="contact">
    <p>
      Heb je een vraag of tip? Stuur dan een mail naar:
      <a href="mailto:develloperdesli@gmail.com" style="color: white"
        >admin@gmail.com</a
      >
    </p>
  </div>
</div>

<div class="main-content">
  <div class="content-section">
    <h2>Introductie op Maakplaats</h2>
    <p>
      Hier kun je inspirerende challenges vinden en delen met andere
      Agora-studenten. Of je nu op zoek bent naar een nieuwe uitdaging of je
      eigen ervaringen wilt delen, dit is de plek om samen te leren en te
      groeien.
    </p>
    <p>
      Maak een account aan via de knop hieronderaan login en post een challenge.
      Deel dit met de community bekijk andere challenges en inspireer elkaar.
      Veel succes.
    </p>
  </div>

  <div class="content-section">
    <h2>Wat kun je hier doen?</h2>
    <div class="button-container">
      {% if current_user.is_authenticated %}
      <button class="forum-button">
        <a href="{{ url_for('upload') }}">Challenge Plaatsen</a>
      </button>
      <button class="forum-button">
        <a href="{{ url_for('forum') }}">Challenges Bekijken</a>
      </button>
      <button class="forum-button">
        <a href="{{ url_for('my_challenges') }}">Mijn Challenges</a>
      </button>
      {% if current_user.is_master %}
      <button class="forum-button master-button">
        <a href="{{ url_for('admin') }}">Master Panel</a>
      </button>
      {% endif %} {% if current_user.is_admin and not current_user.is_master %}
      <button class="forum-button">
        <a href="{{ url_for('admin') }}">Admin Panel</a>
      </button>
      {% endif %} {% if current_user.is_authenticated%}
      <button class="forum-button">
        <a href="{{ url_for('logout') }}">Uitloggen</a>
      </button>

      {% endif %} {% else %}
      <button class="forum-button">
        <a href="{{ url_for('forum') }}">Challenges Bekijken</a>
      </button>
      <button class="forum-button">
        <a href="{{ url_for('login') }}">Inloggen</a>
      </button>
      <button class="forum-button">
        <a href="{{ url_for('register') }}">Registreren</a>
      </button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
