{% extends 'base.html' %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/index.css') }}"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>
<script src="{{url_for('static', filename='js/home.js') }}"></script>
{% endblock %} {% block body %}
<div class="container">
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message
  in messages %}
  <div class="flash-message">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}
  <div class="button-container">
    <button class="forum-button">
      <a href="{{ url_for('upload') }}">post een challenge of het forum</a>
    </button>
    <button class="forum-button">
      <a href="{{ url_for('forum') }}">bekijk challenges op het forum</a>
    </button>
    <button class="forum-button">
      <a href="{{ url_for('login') }}">Login op het Forum</a>
    </button>
    <button class="forum-button">
      <a href="{{ url_for('register') }}">Registreer op het Forum</a>
    </button>
    <button class="forum-button">
      <a href="{{ url_for('admin') }}">Admin</a>
    </button>
    <button class="forum-button">
      <a href="{{ url_for('logout') }}">logout</a>
    </button>
  </div>
</div>
{% endblock %}
