{% extends 'base.html' %}

{% block head %}
{{ super() }}
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <script src="{{url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="button-container">
    <button class="forum-button">
      <a href="uploadtoforum">post een challenge of het forum</a>
    </button>
    <button class="forum-button">
      <a href="forum">bekijk challenges op het forum</a>
    </button>
  </div>
</div>
{% endblock %}